<ion-content padding>
  <br><br>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <img src="assets/logo-white.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h2 class="ion-text-center ion-text-uppercase white-text">VERIFY OTP</h2>
        <p class="ion-text-center ion-text-uppercase white-text"> <b>{{apimsg}}</b></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-input [(ngModel)]="userOtp" type="number" style="text-align: center"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="NextPage()" color="warning" expand="full" style="margin: 0;">Signup</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="errormsg">
      <ion-col>
        <ion-text color="light">
          <p>{{errormsg}}</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>