<ion-content padding>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <p style="font-size: 22px" class="ion-text-center white-text">Memorandum of Association</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-justify white-text">
        <div style="height: 350px; font-size: .9em; padding:5px; overflow:auto; border: .1em solid #fff;">
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
          literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
          College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,
          and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem
          Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
          Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
          Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
          1.10.32.Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
          classical
          Latin
          literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
          College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,
          and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem
          Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
          Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the
          Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
          1.10.32.
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="font-size: .9em; color:#fff">
      <ion-col size="1">
        <ion-checkbox checked color="light"></ion-checkbox>
      </ion-col>
      <ion-col>
        I have read and accepted the terms and conditions listed here.
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="NextPage()" color="light" expand="full" style="margin: 0;">NEXT</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>