.menu-item {
    margin-block-end: .8em;
    font-size: 1.3em;
}

.notification {
    background-color: #ff0055;
    color: #fff;
    width: 95px;
    font-size: 2em;
    padding: .5em 0.5em 0em 0.5em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}